* {
    box-sizing: border-box;
    overflow: hidden;
}

header {
    width: 1024px;
    height: 65px;
    background-color: aqua;
    margin: auto;
    border: 1px solid black;
}

/* header */
/* container */
.container {
    display: flex;
    width: 1024px;
    /* - 65px ok */
    /* -65 會錯 */
    height: calc(768px - 65px - 20px);
    background-color: coral;
    margin: auto;
}

/* container-left */
aside {
    width: 215px;
    /* - 65px ok */
    /* -65 會錯 */
    height: calc(768px - 65px - 20px);
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
}

.aside-header {
    width: 215px;
    /* width: 100%; */
    /* - 65px ok */
    /* -65 會錯 */
    /* height: calc(100% - 25px); */
    flex-basis: calc(100% - 25px);
    background-color: brown;
    border: 1px solid black;
    border-top: 0px;
}

.aside-footer {
    width: 100%;
    height: 25px;
    background-color: cornflowerblue;
    margin: auto;
    border: 1px solid black;
    border-top: 0px;
    border: 1px solid black;
    border-top: 0px;
}


/* container-right */
main {
    /* - 65px ok */
    /* -65 會錯 */
    width: calc(1024px - 215px);
    /* - 65px ok */
    /* -65 會錯 */
    height: calc(768px - 65px - 20px);
    background-color: darkgreen;
}

.main-header {
    /* - 65px ok */
    /* -65 會錯 */
    /* width: calc(1024px - 215px); */
    width: 100%;
    /* - 65px ok */
    /* -65 會錯 */
    height: 29px;
    /* flex-basis: 29px; */
    background-color: chocolate;
    border: 1px solid black;
    border-top: 0px;
    border-left: 0px;
}

.main-footer {
    /* - 65px ok */
    /* -65 會錯 */
    /* width: calc(1024px - 215px); */
    width: 100%;
    /* - 65px ok */
    /* -65 會錯 */
    height: calc(768px - 65px - 20px - 29px);
    background-color: deeppink;
    border: 1px solid black;
    border-top: 0px;
    border-left: 0px;
}

/* footer */
footer {
    width: 1024px;
    height: 20px;
    background-color: burlywood;
    margin: auto;
    border: 1px solid black;
    border-top: 0px;
}

.header-logo-1 {}

/* 圖形縮放 logo1 and logo3 */
.scaled-image-1 {
    width: 15px;
    height: 60px;
    object-fit: contain;
}

.scaled-image-2 {
    width: 994px;
    height: 60px;
    object-fit: contain;
}

h1 {
    color: red;
}