.conainer {
    width: 1024px;
    height: 768px;
    background-color: antiquewhite;
}

header {
    width: 100%;
    height: 65px;
    background-color: white;
    border: 1px solid black;
}

.main {
    display: flex;
    width: 100%;
    height: calc(768px - 65px - 20px);
    background-color: azure;
}

.m_l {
    width: 215px;
    height: calc(768px - 65px - 20px);
    background-color: peachpuff;
}

.m_l_h {
    width: 215px;
    height: calc(768px - 65px - 20px - 25px);
    background-color: white;
    text-align: center;
    border: 1px solid black;
    border-top: 0px;
}

.title_m {
    font-family: '標楷體';
    font-size: 24px;
    color: #FF00ff;
}

.m_item {
    display: flex;
    align-items: center;

    margin: auto;
    margin-top: 20px;
    justify-content: center;
    width: 200px;
    height: 35px;
    background-image: url(../images/menu1.png);
}

.m_item:hover {
    background-image: url(../images/menu2.png);
}

.m_l_f {
    width: 215px;
    height: 25px;
    background-color: white;
    border: 1px solid black;
    border-top: 0px;

    font-family: '標楷體';
    font-size: 16px;
    text-align: center;
}

.m_r {
    width: calc(1024px - 215px);
    height: calc(768px - 65px - 20px);
    background-color: blueviolet;
}

.m_r_h {
    width: calc(1024px - 215px);
    height: 29px;
    background-color: white;

    font-family: '標楷體';
    font-size: 24px;
    color: #0000ff;
    border: 1px solid black;
    border-top: 0px;
}

.m_r_f {
    width: calc(1024px - 215px);
    height: calc(768px - 65px - 20px - 29px);
    background-color: palevioletred;

    border: 1px solid black;
    border-top: 0px;
}

footer {
    width: 100%;
    height: 20px;
    background-color: white;
    border: 1px solid black;
    border-top: 0px;

    font-family: '標楷體';
    font-size: 16px;
    text-align: center;
}

iframe {
    width: calc(1024px - 215px);
    height: calc(768px - 65px - 20px - 29px);
    background-color: palevioletred;
}

h1 {
    color: rebeccapurple;
}